#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 2rem 20px;
  width: 100%;
  text-align: center;
}

.navBar {
  width: auto;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 5px 20px;
}

.media-logo,
.theme-logo {
  width: 36px;
}

.navbar div {
  flex: 1;
  text-align: center;
}

.navbar div:first-child {
  text-align: left;
}

.navbar div:last-child {
  text-align: right;
}

.cozy-logo {
  line-height: 20px;
  font-size: 30px;
  margin: 15px 0;
}

.item-heading {
  font-size: 26px;
  text-align: left;
  text-transform: uppercase;
  padding: 16px 20px 8px;
}

.items-iterator {
  height: 65px;
}

.items-iterator:first-child {
  padding-top: 6px;
}

.cards-individual-container {
  display: flex;
  width: auto;
}

.cards-individual-image {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-image {
  width: 50px;
  filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(208deg)
    brightness(104%) contrast(102%);
}

.item-name {
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
  padding: 0 5px;
}

.cards-individual-slider {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0;
}

.line-container {
  width: 94%;
  margin: 0 auto;
}

.divider-line {
  border: none;
  border-top: 1px solid #535353;
}

.slidecontainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.slider {
  -webkit-appearance: none;
  text-align: left;
  appearance: none;
  width: 88%;
  height: 1px;
  background: #535353;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-left: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  height: auto;
  border-radius: 20px;
}

.footer-color {
  background: #333;
}

footer .footer-container .footer-name {
  font-size: 20px;
  padding-top: 15px;
  margin-bottom: 8px;
}

footer .footer-container .footer-email {
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

footer .footer-container .footer-icons {
  margin: 12px 0;
  padding: 5px 0 12px;
}

footer .footer-container .footer-icons .twitter,
footer .footer-container .footer-icons .linkedin,
footer .footer-container .footer-icons .discord,
footer .footer-container .footer-icons .telegram {
  width: 25px;
  padding-right: 20px;
}

footer .footer-container .footer-icons .telegram {
  padding-right: 0;
}
