@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 2rem 20px;
  width: 100%;
  background-color: #242424;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #242424;
  -webkit-tap-highlight-color: transparent;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #020205;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999999;
  position: fixed;
}

.loader-light {
  background-color: #f5f5dc;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #333;
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.navBar {
  width: auto;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 5px 20px;
}

.nav-logo {
  width: 60px;
}

.bg-col-light {
  background-color: #bfb281 !important;
}

.col-light {
  color: #020205 !important;
}

.slider-light {
  background: #020205;
}

.footer-light {
  color: #43706b;
}

.media-logo {
  width: 36px;
}

.theme-logo {
  width: 32px;
}

.navbar div {
  flex: 1;
  text-align: center;
}

.navbar div:first-child {
  text-align: left;
}

.navbar div:last-child {
  text-align: right;
}

.cozy-logo {
  line-height: 20px;
  font-size: 30px;
  margin: 15px 0;
}

.item-heading {
  font-size: 26px;
  text-align: left;
  text-transform: uppercase;
  padding: 16px 20px 8px;
}

.item-card-section {
  background-color: #333;
  border-radius: 20px;
}

.items-iterator {
  height: 65px;
}

.items-iterator:first-child {
  padding-top: 6px;
}

.cards-individual-container {
  display: flex;
  width: auto;
}

.cards-individual-image {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-image {
  width: 50px;
  filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(208deg)
    brightness(104%) contrast(102%);
}

.individual-image-light {
  width: 50px;
  filter: invert(2%) sepia(8%) saturate(1969%) hue-rotate(224deg)
    brightness(85%) contrast(102%); /* light theme */
}

.item-name {
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
  padding: 0 5px;
}

.cards-individual-slider {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0;
}

.line-container {
  width: 94%;
  margin: 0 auto;
}

.divider-line {
  border: none;
  border-top: 1px solid #535353;
}

.divider-line-light {
  border: none;
  border-top: 1px solid #f5f5dc;
}

.slidecontainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.slider {
  -webkit-appearance: none;
  text-align: left;
  appearance: none;
  width: 88%;
  height: 2px;
  background: #535353;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-left: 5px;
}

.slider-light {
  background: #ffffff;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.slider-light::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #020205;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.slider-light::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #020205;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  height: auto;
  border-radius: 20px;
}

.footer-color {
  background: #333;
}

.footer-color-light {
  background: #bfb281;
}

footer .footer-container .footer-name {
  font-size: 20px;
  padding-top: 15px;
  margin-bottom: 8px;
}

footer .footer-container .footer-email {
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

footer .footer-container .footer-icons {
  margin: 12px 0;
  padding: 5px 0 12px;
}

footer .footer-container .footer-icons .twitter,
footer .footer-container .footer-icons .linkedin,
footer .footer-container .footer-icons .discord,
footer .footer-container .footer-icons .telegram {
  width: 25px;
  padding-right: 20px;
}

footer .footer-container .footer-icons .telegram {
  padding-right: 0;
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
  #root {
    width: 800px;
  }
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
  #root {
    width: 800px;
  }
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
  #root {
    width: 1000px;
  }
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
  #root {
    width: 600px;
  }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
  #root {
    width: 750px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  #root {
    width: 750px;
  }
}
