#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navBar {
  width: 430px;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.media-logo,
.theme-logo {
  width: 40px;
}

.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.navbar div {
  flex: 1;
  text-align: center;
}

.navbar div:first-child {
  text-align: left;
}

.navbar div:last-child {
  text-align: right;
}
